

.slider {
    position: relative;
    width: 400px;
    margin: auto;
    overflow: hidden;
}

/* .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
} */

.slide-container {
    width: 400px;
    transition: transform 0.5s ease-in-out;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}